body {
    margin: 18px auto;
    width: 62%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-top: 25px;
    margin-right: 20px;
    font-size: 1.2em;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h0 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h1 {
    font-size: 1.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.column {
    float: left;
    }

.left1 {
    width: 50%;
    }
    
.right1 {
    width: 50%;
    }

.left2 {
    width: 25%;
    }
    
.right2 {
    width: 75%;
    }

.left3 {
    width: 40%;
    }
.middle3{
    width: 30%;
    }
.right3 {
    width: 30%;
    }

.row:after {
    content: "";
    display: table;
    clear: both;
    }

.right {
    text-align: right;
    float: right;
}
img { 
    display: block; 
    } 
img.wrap { 
    max-width: 70%; 
    margin: 20px 0px; 
    } 
img.align-right { 
    float: right; 
    margin-left: 20px; 
    } 
img.align-left { 
    float: left; 
    margin-right: 20px; 
    }
